In [1]:
import pandas as pd
import json
import re
from string import punctuation
import numpy as np

In [7]:
ers_path = 'FY2014-19 Datasets for ERS Publications.xlsx'
ers_df_list = []
ers_xls = pd.ExcelFile(ers_path)
for n in ers_xls.sheet_names:
# for n in ['FY14', 'FY15']:
    ers_pubs = pd.read_excel(ers_path, sheet_name = n,header = 1)
    this_df = pd.DataFrame({'sheet_name':np.repeat(n,len(ers_pubs['Datasets']))
          ,'datasets':ers_pubs['Datasets']})
    ers_df_list.append(this_df)

In [13]:
ers_df = pd.concat(ers_df_list)
ers_df = ers_df.drop_duplicates()
ers_df = ers_df.dropna(subset=['datasets'])

In [10]:
ers_df.shape

(253, 2)

In [15]:
ers_df.loc[ers_df['datasets'] in ['',' ',None]]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [25]:
ers_df['datasets'].astype(bool).unique()
ers_df = ers_df.dropna(subset=['datasets'])

In [26]:
pd.isnull(ers_df['datasets']).unique()

array([False])

In [24]:

# ers_df.loc[ers_df['sheet_name'] == 'FADS-LAFA']
ers_df.loc[pd.isnull(ers_df['datasets'])]

                       sheet_name datasets
10                           FY17      NaN
0   Cost Est. Foodborne Illnesses      NaN
0                       FADS-LAFA      NaN
0                            FARA      NaN
0                      Qtrly FAFH      NaN

In [ ]:
file = 'FY2014-19 Datasets for ERS Publications.xlsx'
pd.concat([pd.read_excel(file, sheet_name=sheet) for sheet in ['Sheet1','Sheet2','Sheet3']], axis=1)

In [ ]:
ers_pubs.head()

In [ ]:
flatten = lambda l: [item for sublist in l for item in sublist]

In [ ]:
ers_datasets = ers_pubs['Datasets'].unique().tolist()
# [e.replace()ers_datasets
# [re.sub('[^A-Za-z0-9]+', ' ', e).strip() for e in ers_datasets]
# [re.sub('▪', ',', e).strip(punctuation) for e in ers_datasets][]
ers_datasets_clean = [f.replace('\n',' ').strip() for f in flatten([e.split('▪') for e in ers_datasets]) if f not in ['',' ']]
ers_datasets_clean

In [ ]:
from string import punctuation
s = '.$ABC-799-99,#'

print(s.strip(punctuation))